*,
::after,
::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    background-color: #FAF7F8;
}

._container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background-color: #FCFBFB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 0;
}
.header__container {
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__container h1{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 138%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    display: flex;
}
.main__container {
    display: flex;
    flex: 1 1 auto;
}

.menu{

}
.menu__container {
    min-width: 180px;
    padding-top: 43px;
}
.menu__items {

}
.menu__items > *:not(:first-child) {
    margin-top: 24px;
}
.menu__items img{
    margin-right: 10px;
}
.menu__item {
    min-height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu__item_active {
    color: #F8346B;
    border-right: 2px solid #F8346B;
    min-height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex: 1 1 auto;
}

.content__container {
    flex: 1 1 auto;
    margin: 0 0 0 24px;
}

.content__header {
    margin: 29px 0 0 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #DEDBDC;
}
.content__header h3{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.content__settings {
    display: flex;
    justify-content: flex-end;
    min-height: 36px;
    padding: 23px 0;
}
.content__settings select{
    border: 1px solid #DEDBDC;
    padding: 6px 0 6px 12px;
    min-width: 25%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    outline: none;
}

.content__body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 12px 0;
    margin: 0 -20px 0 0;
}

.post__item {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 32px 0;

}
.post__img {
    /*width: 300px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background: #FFF;
}


.post__body {
    display: flex;
    align-items: center;
    margin: 18px 0 0 0;
}
.post__avatar {
    width: 48px;
    height: 48px;
    border: 1px solid #DEDBDC;
    border-radius: 50%;
    margin: 0 12px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post__description {

}
.post__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.post__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #797476;
}
.post__date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    /* identical to box height, or 133% */
    letter-spacing: 0.02em;
    color: #797476;
}

.content__footer {
    display: flex;
    justify-content: center;
}